div {
    margin:auto;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ul li {
    display: inline-flex;
}

ul li a {
    
        display: block;
        padding: 8px;
        background-color: #dddddd;
    
}